@media (min-width: 768px) {
	/* - - - - - - - - - -

		>FOOTAGE

	- - - - - - - - - - */
	#footage {
	    height: 42.5rem;
	}
	.footage-grid {
	    height: 42.5rem;
		padding: 0;
    }
	.footage-grid h1 {
        width: 65%;
    }
	.footage-grid h2 {
        width: 75%;
    }
	.footage-logo {
    	display: flex;
    	flex-flow: row;
	    margin-bottom: 4rem;
	}
	/* - - - - - - - - - -

		>JUNTE-SE

	- - - - - - - - - - */
	.juntese-box p {
		width: 60%;
		margin: 0 auto;
	}
	.solucoes-de-integracao-content {
		flex-flow: row;
	}
	.solucoes-de-integracao-box {
		width: 31.5%;
		margin-bottom: 0;
	}
	.mensagem-grid {
		flex-flow: row;
		justify-content: space-between;
	}
	/* - - - - - - - - - -

		>MENSAGEM

	- - - - - - - - - - */
	.mensagem-foto {
		margin-right: 2rem;
	}
	.mensagem-foto img {
	    margin-bottom: 0;
	}
	.mensagem-content {
		width: 55%;
	}
	/* - - - - - - - - - -

		>SUPER-DICA

	- - - - - - - - - - */
	.super-dica-bg {
	    background: url(../assets/super-dica-bg.jpg) right;
	    padding: 0;
	}
	.super-dica-grid {
	    height: 40rem;
	}
	.super-dica-content {
		width: 58%;
	}
		.super-dica-content h1 {
			margin-top: 2rem;
			width: 70%;
		}
		.super-dica-content p {
			width: 95%;
		}
		.super-dica-content p:last-child {
			width: 72%;
		}
	    .super-dica-content figure {
	        top: 2rem;
	    }
	.plataforma2-bg {
		padding: 0;
	}
	.plataforma2-grid {
		height: 69rem;
	}
	.plataforma2-content {
		width: 53%;
	}
	.realmente-precisa-grid {
		flex-flow: row;
		justify-content: space-between;
	}
	.realmente-precisa-content {
		width: 68%;
	}
		.realmente-precisa-content blockquote {
			margin-bottom: 0;
		}
	/* - - - - - - - - - -

		>FOOTER

	- - - - - - - - - - */
	.footer-redes i {
        margin: 2rem;
    }
}

@media (min-width: 1280px) {
	/* - - - - - - - - - -

		>GRID

	- - - - - - - - - - */
	.container {
		width: 1200px;
		padding: 0;
	}
	/* - - - - - - - - - -

		>FOOTAGE

	- - - - - - - - - - */
	.footage-grid h1 {
		width: 63%;
	}
	.footage-grid h2 {
        width: inherit;
    }
	/* - - - - - - - - - -

		>JUNTE-SE

	- - - - - - - - - - */
	.juntese-vantagens {
		flex-flow: row;
		justify-content: space-between;
	}
	.juntese-box {
		width: 33.3%;
	}
		.juntese-box p {
			width: 85%;
		}
	/* - - - - - - - - - -

		>MENSAGEM

	- - - - - - - - - - */
	.mensagem-foto {
		max-width: inherit;
		margin-right: inherit;
	}
	.mensagem-content {
		width: 66.5%;
	}
	/* - - - - - - - - - -

		>SUPER DICA

	- - - - - - - - - - */
	.super-dica-content {
		width: 58%;
	}
		.super-dica-content h1 {
			width: 70%;
		}
		.super-dica-content p {
			width: 84%;
		}
			.super-dica-content p:last-child {
				width: 100%;
			}

/* - - - - - - - - - -

    >FORMULÁRIO

- - - - - - - - - - */
-- Pedido Por Gregolin
/*.formulario-bg {
    width: 800px;
    padding: 0;
}
*/
